.pizza {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 0%;

}

.logo {
  bottom: -16px;
  position: relative;
}

h1 {
  display: inline;
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
}

.h3 {
  font-size: 10px;
  font-family: 'Advent Pro', sans-serif;
  padding-bottom: 30px;
  margin: -10;
  padding-left: 60px;
}

.posted {
  font-size: 15px;
  font-family: 'Advent Pro', sans-serif;
  margin-top: 0%;
}

.icons {
  display: inline;
  float: right;
  padding: 1px;
}

.print {
  display: inline;
  float: right;
  word-spacing: 10px;
  font-family: 'Advent Pro', sans-serif;
  position: relative;
  bottom: 10;
}

.printicon {
  padding-right: 10px;
}

#rss {
  margin-left: 9px;
}

body {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 35px;
  margin-bottom: 35px;
}

p {
  font-size: 15px;
  font-family: Georgia;
  color: gray;
}

.indent {
  text-indent: 50px;
}

.sectionpizza {
  background-image: url(assets/choco-pizza.png);
  background-position: center;
  margin-bottom: 8px;
  padding: 30%;
  background-size:cover;
  position: relative;
}

main {
  background-image: url(assets/list-bg.png);
  background-size: cover;
  background-position: center;
}

.list{
  display: inline-block;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  font-size: 20px;
  max-height: inherit;
  position: relative;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

li {
  list-style-type: none;
  font-family: 'Neucha', cursive;
  line-height: 2em;
}

.border {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

.myButton {
  background-color:#e4685d ;
  border:1px solid #ffffff ;
  display:inline-block;
  color:#ffffff ;
  font-family:Arial;
  font-size:20px;
  padding:15px 24px;
  text-decoration: none;
  float:right;
  position: relative;
  bottom: 65px;
}

.myButton:hover {
  background-color:#eb675e ;
}

.myButton:active {
  position:relative;
  top:1px;
}

h4 {
  display: inline;
}

.newborder{
  display: inline-block;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
  max-height: inherit;
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, .2);
}

hr.footerline{
  margin: 50px 0;
  border-top: solid double #333;
  color: #333;
}

hr.footerline:after {
  content: url('assets/small-logo.png');
  left: 50%;
  position: absolute;
  padding: 20px;
  background: white;
  transform: translateY(-50%) translateX(-50%);
}

.footerp {
  text-align: center;
  font-family: Georgia;
  color: gray;
  font-size: 10px;
}

h4 {
display: inline;
float: left;
position: relative;
left: 81px;
bottom: 80px;
}

.van {
  display: block;
}

.van1 {
  position: relative;
  right: 45px;
  bottom: 45px;
}
